<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">  
<div class="about">
    <h2 class="aboutMe">{{ aboutMe }}</h2>
    <p class="statement">{{ statement }}</p>
    <h3 class="tech">{{ technologies }}</h3>
    <ul>
        <div class="techs">
            <p>{{ technology1 }}</p>
            <p>{{ technology2 }}</p>
            <p>{{ technology3 }}</p>
        </div>
        <br>
        <img src="assets/Sonic3.jpg" alt="Sonic">
    </ul>
</div>