.home {
    text-align: center;
    background-color: #BFDBF7;
}

.sonic {
    font-family: 'Roboto Flex', sans-serif;
    color: #DB222A;
}

.hedgehog {
    font-family: 'Rubik', sans-serif;
    color: #053C5E;
}

.tagline {
    font-family: 'Open Sans', sans-serif;
    color: #1F7A8C;
}